.post {
	height: 153px;
}

#top-primary {
	margin-right: -300px;
	clear: right;
}

#top-secondary {
	height: 266px;
	clear: left;
}

#sidebar {
	height: 300px;
}

.post-sup {
	height: 30px
}

.post-comments-link a {
	margin-top: 0;
	padding-top: 0;
}

#prev-posts {
	height: 233px;
}

.prev-post-excerpt p a img {
	display: none;
}

#prev-posts-footer .nav-prev {
	background: none;
}

#prev-posts-footer .nav-prev a {
	margin: 0;
}

#prev-posts-footer img {
	display: inline;
}

#prev-posts-footer .nav-next {
	background: none;
}

#prev-posts-footer .nav-next a {
	margin: 0;
}

#archives {
	height: 147px;
}

#post-comments {
	height: 180px;
}

#comment-form {
	height: 180px;
	padding-right: 0px;
}

#tags {
	height: 160px;
}

#bottom-secondary {
	position: relative;
	right: 0px;
	height: 250px;
	overflow: auto;
}

.post-comments-link {
	padding-top: 3px;
}

#feeds {
	border: none;
	cursor: pointer;
}

.feedlink {
	border: none;
}

.feedlink a {
	border: none;
	width: 156px;
}

#feeds a:hover {
	padding-bottom: 0px;
	cursor: pointer;
}

#habari-link {
	margin-top: 0;
}

#navbar {
	width: 930px;
	margin-top: 20px;
}

.archlist-left {
	margin: 0;
}

.archlist-right {
	margin: 0;
}

#title {
	margin-bottom: 10px;
}

#footer {
	margin-left: 65px;
}
