/*=== @a ===*/
a { text-decoration: none; color: #5aa6ae; font-weight: nromal; }
a:hover { text-decoration: underline; }
/*=== @b ===*/
body
{
	background-color: #fff;
	font-family: Arial, Helvetica San-Serif;
	font-size: 1.0em;
	color: #000;
	margin: 0.0em auto;
}

/*=== @c ===*/
#content
{
	float: left;
	display: inline;
	min-height: 100%;
	margin: 2.7em 0px 0px 250px;
	padding:  0.0em 1.0em;
	border-left: 1px solid #ccc;
}

/*=== @f ===*/

#search_help 
{
	float: right;
	margin-top: 3px;
}

#search_help input 
{
	border: 1px solid #cacaca;
}

/*=== @m *===*/
#menu
{
	position: fixed;
	float: left;
	background: transparent url(../admin/images/bar-back.png) repeat-x;
	display: inline;
	margin: 0.0em 0.0em 1.0em 0.0em;
	width: 100%;
	clear: both;
	text-align: left;
	height: 36px;
}

#menu #menu-items
{
	margin-top: 0.0em;
	float: right;
	display: inline;
}

#menu #menu-items li
{
	display: inline;
	list-style: none;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0.2em 0.5em;
	line-height: 1.8em;
}

#menu-items a, #site-name a
{
	color: #fff;
	padding: 0.4em 1.0em;
}

#menu-items a:hover
{
	background-color: #9FA600;
	text-decoration: none;
}

/*=== @n ===*/
#nav-menu
{
	position: fixed;
	float: left;
	display: inline;
	margin-top: 2.5em;
	margin-left: -1.0em;
	margin-right: 0.5em;
	width: 250px;
	padding: 0px 0px 0px 10px;
}

/*=== @p ===*/
#page
{
	margin: 0.0em;
	background: #fff;
}

#page h1
{
	font-size: 1.0em;
	margin: 0.0em 0.5em 1.0em 0.5em;
}

#page p
{
	padding: 0.0em 1.0em;
	margin-left: -0.1em;
	font-size: 0.8em;
	text-align: justify;
}

#page ul, #page ol
{
	margin: 0px;
	padding-left: 1.0em;
}

#page ul li, #page ol li
{
	display: block;
	background: transparent;
	list-style: none;
	font-size: 0.9em;
	padding: 0.2em 0em 0.2em 0px;
}

/*=== @s ===*/
#search_help
{
	color: #fff;
	font-weight: bold;	
}

#search_help input[type=text]
{
	margin-right: 0.3em;
	height: 1.1em;
	font-size: 0.8em;
}

#site-name
{
	float: left;
	display: inline;
	background: transparent url(../admin/images/home.png) no-repeat;
	background-position: 1.0em 0.0em;
	text-indent: 2.2em;
	font-size: 0.8em;
	padding-top: 0.1em;
	line-height: 1.7em;
}

#site-name a:hover
{
	text-decoration: none;
}
