@import url(http://fonts.googleapis.com/css?family=Quattrocento);
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,button,input,select,textarea{font-family:sans-serif;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin-left:0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body{width:100%;*zoom:1;zoom:1;}body:before,body:after{content:"";display:table;}
body:after{clear:both;}
body:before,body:after{display:table;content:"";zoom:1;}
body:after{clear:both;}
body{margin:0;}
@media only screen and (min-width:961px){#wrapper{width:960px;} #posts{display:inline;float:left;width:700px;margin:0 10px;} #sidebar{display:inline;float:left;width:220px;margin:0 10px;}}@media only screen and (min-width:768px) and (max-width:960px){#wrapper{width:730px;} #posts{display:inline;float:left;width:460px;margin:0 10px;} #sidebar{display:inline;float:left;width:220px;margin:0 10px;}}@media only screen and (min-width:480px) and (max-width:767px){#wrapper{width:480px;} #posts{display:inline;float:left;width:460px;margin:0 10px;} #sidebar{display:inline;float:left;width:460px;margin:0 10px;}}@media only screen and (max-width:480px){#wrapper{width:320px;} #posts{display:inline;float:left;width:300px;margin:0 10px;} #sidebar{display:inline;float:left;width:300px;margin:0 10px;}}#wrapper{margin:0 auto;}
#content{width:100%;}
#content .content img{max-width:92%;box-sizing:border-box;}
body{background:#f0f8f8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJUAAACVCAAAAAB0yeeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAACVAAAAlQBUT0SmAAAM+klEQVR42u2caXbkNhKEcf9zWsQOUHOC+SIJTYtFOVtL6b35QdvPblURDCCXyA1yqDnWnvvIJabZakut51Zyq7mmXmZPMfFpK/zcW2+1lrVijpH2f2KtNXc+G7m12WubuY0W+T6lGMtItZTeWJ9TPWG4gKG3VOrgX6O2XEflNaOXxqOZL+qWCtvJJduWCv+tawXv4OfSMk/ZgrhrU7P3uo3etaLUstdWB49H/nDCcAEDZ+V7Nlr4SH/ImY+S8EYabXJyoVfAgGr28PGv1lPLHI+fEF7LvbfY6v6a60Q4KZlwEqdnV+yxpBOGCxgQxBYR4SNsnxuf6VUcuma0UzhVFcSxogmyjcFe0A5/DV6YMxrhib3yfMnO0VzAwEsGx+x97NteB7pkD2VDU/ZoblkP8FRJfUMbtawVFXvhC/u6pVEaD7B/5FVim7UNIBAIe+Q9AzWWE4YLGJC1masseOqtNepQHB0t7xLtKJjvjvlI1B2LOlZgpU1baV1GhNYyhs7mc9TWACj7zs+yw8K3wJ0wXMAgi8X6DTNirlggHqG/Ow4k1Y468beOZEuVIt5WIC/pUCbBTuSkHHogMPNWrFjb59mE0ComGM8YHmDoOgoymCBgLThWTYdb6fRIXgLJc5q9bvK5tQIpZMBn5OVVKGiOxSXFtheENWtOsnPDz1L4CcMFDE0W115K4S0l58i55Nd4aM5FlCCTmVpWkS9P17Vi8DreiR2bgY9yWFrfsrSw4QAYMv/gia9R9rifMFzAwHuQbpnosMkORhsvS6r4M+aA9nk3xoIkZNhtrZAw8DCzt1RfMJDSkWUXC1U9A1mUhjfAD0gBhZ4wXMCgJXGY+zf+kMsLdidTwohrnQUNbYct6ez8Ia4VHA8u72yUd0nLyD9KplIXJ8h7yWIKmKMmds8G32O4gAEsZJDExTr9/3j/8J2uQIGmsSg002AGCcJWxAYoVDMPQpV3TrmBWan0zSHEjzoJQt50gncYLmDgy81CimyEV6AuDjhxZSKCIpvEAVki5ZknJtbWioFWsshSTIq34GJNcQdj2+VRWAt/I0BJObKFdsJwAUMzk5Gpli41CRmY+RgQ8A7sExW1tYLvun6KRlJNn0s4ircKJyjRjMpYrRXe2k8YLmCAs2TDlxiSFMH4Ev9SfCW0ipuabOtYgb9ELMfCRpYCjSs/HadcwDAHx9Y5m9YWEpBWXqCz+crG4SLAjRY4nflIi28rZFM4GoIa0ogUiMFiYq+QbpR2OIxOxMNzJHO6PxguYFgpEBGoveDLopgG2vxW0iTTkcLatEQG+ip6HzuU5E4YLmB4W4UPDBHQDv31mNLXcfTqjdSG10OOG2TR9xLxDhirS7ZnDA8wvOVDj/b78wzqLz7iAYblJrMt45FijiDyDceSLzWlAEpURfKyLh5X2CEMvsdwAYOlX+JukgB5DhxWLP7DFkXmWJTwKKUVcSuBWStQn56IKQ4RXxUvQ+OkVlqe0k6QPl6s4yhPP2N4gGFmnUkUqF0riiJ1RJB1Qu2jsh2iOvFCUuL1a8VOhl1ilQXBgkQHrFS5HyGjKwudkgV+QQioZnvjhOEChqWcq6h/zJO+Ol3AAD2SkPEWJZrm8gdVEtCH/CKLRJtyIMtAzcxtBRxIZkAoU4qkkoc0S7uFm5CdpCYOyRaXeJY65oThAgZla6JUtk6wR44JFL0/Wb5ovEluoZSpxyxeWCtwyUSc3zLRm22wOSUFTWm4JXpFP6N9KkfZF2o9YbiAYSLCvStw6KOyty5JqPBjC2bo4h8VhYefkxkcK5KqN16EiZuwReyyImrYjSeaFsgvpoCUQZwxXMCwat8LWT6/Wn4gZA8wLLq45iYu24hgrLApJFXb4eAKyZ/Pf1zAsKjEnKpJBE3CJZh+iXx0TOWD6A9j2dl5F4N1lWMzUYyQm6YzhgdI3o6/pHEpoKosYwdswxpjj1HGge6Vt9sK8R3oKO5bRZoLGJSHWDZIkaiqDHJRBlxPVVHppnv2oCh1rJBBkGvi2FMcwcGaiQebTSo1UiwqbSaqx1qKfOQ9hgsYlHwreY5FcRGr35VA68tm8Xag9r1b2hPNdetakY+WzGs2wkkZ/h6HzjY2EZOCk5lgs7aMsrT3GC5gWJK+Frff1s3nCmgXMKwc+JLRQrFDCVCxDoF1uOpTs2YPkJwhK+CjHr58TYp30qw2imiGpQbQEIWzBbxeXtcKUYNS4KWbqZOJa3JS+JZf1s2S6lx3sSgKOmF4gEH1N6e95AbDjBrVF9Xv1JlWoMOV9W1FUiCLm2w9Eo7USrLcvernOKIVXSyGKz7IP1zAUC0Z6GIzvpKH4XD2z5St8LXCjXIfcXqNKt9shXQ0zT0xjhc1x6RCtpbbC1Qibpe5FzUcDqY/YbiAoY9d7c5LWDNj5oEXNc4qn6VN3yfRga1A0kbmxZz6VfnCV0KnCxhWt/CSlP+sv/iJ1qkHGFaL4NK9fmpT4YMOuQsYVjl1KY6+Xeh9sgBzAcPK4B5SsFR/N+cDwwOEr7aqlu5jJ0r93KHGGBFvmBVP8vCSX/taIU3BxD1qyde7XS4gzICZ1P3i5P/SHlBH4FihTEjRUdVC+TqRuIBhtZaIIlMjiymRJFPUF5pR6j+peBblaxuKndb5bCa2Yj3LfMJwAf9vpwBWFMWoLKTVbUzljFTKXymjmuXqEob2YTkXnD7lu9K+Ac98wnABg1n9UUePo/4noZUbq2Uhy4MXtKFqkVY57VrRj3KhGbFSqogqFD8QIGGZcE+xz1ZnVoZn7esThgsYlnFeYtaPzfkvcdEFDMtMyqOe6y8blgsYVq57TlZFZb+YHQvDBbxnqfcs9Z6l3rPUe5Z6z1LvWeo9S71nqfcs9Z6l3rPUe5Z6z1LvWeo9S71nqfcs9Z6l3rPUe5Z6z1LvWeo9S71nqfcs9Z6l3rPUe5b6wSx1NTUvHPTkNuiV5zzAsDLvd7MnCHls4/eGXQeGCxjWLOpSNn1+evW90swFDCvwXsOomsxNIXj+SnvGBQzRWoxqIuvTcgSIaPL4uJmS14qk0ak8RmU+3DO1FNpiu9Fmr6paLN+R0Qzl/e8xXMCg+wAazJnVmJrK/I/NOpH+sNdC1CJszXIJW2WtQCoKWnqhbEI8TzJOfaOMFLeI0dIjGV+zNkQ7YbiAQQxG9jaIkQ83GD56ly0/VogVDo4pUqvkaZ2aoj6ejF4tJZTPV6VbnnrCcAHDChblyLr+NCCeGl4UUVo8YbiAsnbZx4Uz/4xek2gkRUnWBLZWJOuGJ6XzcmvYJ6kUqM2KZtUfTewQxXT52rVwAcNKlh6znfzL6VVyAcPq012mjs/t7F0nmy5gYFkRIz8WWpfrNirsgZxzrdClicjuZhRBsEyn7keRGsXk/oTYBdQtiy3r/xrRlb/1Yr0uSidgRfnIWJLQfQGlAm23gtRWSCnDmLSL4NnUpv5DmqW+yN6SNG0gg2Rj5HjCcAHDW5dSQudjEicY9bX/va+pRpNa2di9Ovi62FCOchWrV5MZl9V1BU0iLU09Y7iAYaVCVo7rxbjNPnR15UdZuRLxhBFrYLIpJJHOxBOGCxiWP17c+S9XN35MGS5gWAX5/0aavM3ag782Q10YLmBYdjkeO44/sWQZL/tVYgd5ipVEEu2E4QKGlTBdOtNfuiD0jRTLBQzr3tflFtcHJVx+5k0xFzAsE7tY6DcvMH3aC1zA8JZZ4/7EAKsVylGPfj0XV/qtnWlemy3wsaZHmbxV0e8xXMCwBkcXuvzBnPtToyYXMKzk1lqQCHHISpVxPjUdVsKqpP4dhgsY1p2xS0z75JWzY9ah3OGLcdMFDKtxe+n7/s7d1T8YLmBYx7lQ4bcE8AW6dQHD6oNfrrM89dLxB1dmXMCwPPhyr/H7Pv+5u5MuYFjl6qXaVR9FNqHuRdcfZOP9eRW1CxjWJIwNn++t/m2QpqCoYlx0qNRWMzh9QwVMXFPF2kUgdVCSyQxTOWO4gFReVXdBLj1QTFZOUY/ppBHMUMdJE7T6hOsqLmBYE9xLXHnmPP6j2OUC6paFaeBiFJeGeJ6R4Ju2teKHhucChkV+F2d/Gl3+C6G4gOFt0v04t/73LPI5s3EXMKx0+zJhflqCbjn5B1NsDzCs8vvSOvhhwf7X9oQLGFYb8Lghoga3zmz96q8O/JI8Sl0ppRhj26oVWHadLuumTT5huIDhbZD9eKPrqaPvD26NuYBhbfdypeLvp7UD8sg/2fimbWpUKX8EX+bS6ovFgyymtenyCcMDDOvW4qUV9PRrqw/tJhcwrMkFEm7Rsij5kP3GxqcGH5p17Mlut6peUR9FqbJuW+eDwqdEK0scJwwXMKy66lIlPelXSf69EvMAw6ojL5fZn/U7SrodwyHK5cK8BxiWz1xa/T/3Mv9upgsYlgNdbjE92+Ueb0q5gOHtV6Qe+xn6+Fd/qcoD/C9+BaDPM8g+HgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=);font-family:'Quattrocento',serif;}
#header nav{*zoom:1;zoom:1;border-bottom:1px solid #eaeaea;}#header nav:before,#header nav:after{content:"";display:table;}
#header nav:after{clear:both;}
#header nav:before,#header nav:after{display:table;content:"";zoom:1;}
#header nav:after{clear:both;}
#header nav h1{display:none;}
#header nav ol{list-style:none;margin-left:0;padding-left:0;}#header nav ol li{display:inline;float:left;line-height:24px;}#header nav ol li:hover{background:#e4e4e4;}
#header nav ol li:active>div>a{background-color:#666666;font-weight:bold;}
#header nav ol ol{position:absolute;display:none;background:#eaeaea;}#header nav ol ol div{margin-top:10px;}
#header nav ol ol li{display:block;float:none;}
#header nav ol li:hover>ol{display:block;}
#header nav ol a,#header nav ol .spacer{padding:2px 10px;}#header nav ol a:hover,#header nav ol .spacer:hover{text-decoration:none;background:#e4e4e4;}
.label{border-radius:3px;padding:1px 3px;font-size:xx-small;font-variant:small-caps;font-family:sans-serif;text-transform:uppercase;}
#content .comments{clear:both;}#content .comments header.comment-meta{margin-bottom:10px;font-weight:bold;border-left-width:1px;}#content .comments header.comment-meta h1{font-size:1.0em;*zoom:1;zoom:1;}#content .comments header.comment-meta h1:before,#content .comments header.comment-meta h1:after{content:"";display:table;}
#content .comments header.comment-meta h1:after{clear:both;}
#content .comments header.comment-meta h1:before,#content .comments header.comment-meta h1:after{display:table;content:"";zoom:1;}
#content .comments header.comment-meta h1:after{clear:both;}
#content .comments img.comment-avatar{float:left;margin:0px 10px 10px 0px;vertical-align:top;}
#content .comments .comment-author span[itemprop="name"]::before{content:"By ";}
#content .comments .moderated{opacity:0.6;}#content .comments .moderated div[itemprop="description"]::after{content:" is in moderation";}
#content .comments .comment-date::before{content:" on ";}
#comments{font-size:1.5em;}
.required{border-radius:3px;padding:1px 3px;font-size:xx-small;font-variant:small-caps;font-family:sans-serif;text-transform:uppercase;background-color:red;color:white;margin-left:10px;}
label{margin-right:1em;display:inline;float:left;width:220px;margin:0 10px;}
textarea,input[type=text],input[type=email],input[type=url]{display:inline;float:left;width:300px;margin:0 10px;box-sizing:border-box;}
.formcontrol{*zoom:1;zoom:1;}.formcontrol:before,.formcontrol:after{content:"";display:table;}
.formcontrol:after{clear:both;}
.formcontrol:before,.formcontrol:after{display:table;content:"";zoom:1;}
.formcontrol:after{clear:both;}
a{text-decoration:none;color:#195f91;}a:hover{color:#217bbd;background:#e4e4e4;}
ul.messages{border-radius:5px;padding:10px;margin:0 10px;}ul.messages.error{border:1px solid #d1a9a9;background-color:rgba(255, 255, 255, 0.8);}
ul.messages.success{border:1px solid #3496dc;background-color:rgba(226, 240, 250, 0.8);}
ul.messages li{margin-left:20px;}
#header hgroup{text-align:right;border-bottom:1px solid #ddd;margin:0 0 5px;}#header hgroup h1{padding:0;margin:0;}
#header hgroup h2{font-size:1.0em;padding:0;margin:0;color:#999;}
#header nav{margin:0 0 20px;padding:0 0 5px;border-bottom:1px solid #ddd;}#header nav ol{margin:0px;padding:0px;}
#header nav li{list-style:none;display:block;float:left;margin:0 10px 0 0;}
#content header{padding-left:20px;border-left:3px solid #195f91;}#content header h1{margin:0;font-size:1.8em;}
#content header .metadata{margin:0;font-size:smaller;}
#content header p{margin:0;}
#content .content img{margin:0 4%;}
#content .post .pubdata,#content .post .tags{text-transform:uppercase;font-size:small;color:#7F9FB9;}
#content .post .tags::before{content:'Categorized in: ';}
#content .post .pubdata span[itemprop="author"]::before{content:'By ';}
#content .post .pubdata time::before{content:' on ';}
#content article,#sidebar section{margin-bottom:30px;}#content article h1,#sidebar section h1{margin:0;}
#sidebar section ul,#sidebar section ol{padding-left:20px;}
#sidebar section h1{font-size:1.6em;}
.pagenav{clear:both;}
#backdrop{background-size:cover;width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:-99;}
