/* =General
-----------------------------------------------------------------------------*/

blockquote {
	border-left: 10px solid #41670F;
	padding: 5px 0 5px 20px;
	margin: 10px 0 10px 40px;
}

blockquote p {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 8px 0;
	font-style: italic;
}

.right {
	float: right;
}

.left {
	float: left;
}

img.right {
	border: 1px solid #666;
	padding: 3px;
	margin-left: 8px;
}

img.left {
	border: 1px solid #666;
	padding: 3px;
	margin-right: 8px;
}

/* Class for clearing floats */

.clear {
	clear: both;
}

/* define inline elements as block not used, conflicts with areas and blocks default class

.block {
	display: block;
}
 */
 
/* Remove border around linked images */

img {
	border: 0;
}

/* =Typography
-----------------------------------------------------------------------------*/

body {
	font: 108% "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #666;
	background: #EEEEEE;
}

/* =Structure
-----------------------------------------------------------------------------*/

#wrapper {
	margin: 0 auto;
	background: #fff;
}

#masthead {
	margin: 20px 0 40px 0;
	border-bottom: 2px dashed #41670F;
	padding-bottom: 5px;
}

#content {
	text-align: left;
}

#primaryContent {
	margin-bottom: 10px;
}

#secondaryContent {

}

#footer {
	height: 60px;
	border-top: 2px dotted #41670F;
	padding-top: 5px;
	margin-top: 5px;
}

/* =Headings
-----------------------------------------------------------------------------*/

h1 {
	font-size: 225%;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #545454;
}

h2 {
	color: #545454;
	font-family: Trebuchet, Tahoma, Arial, sans-serif;
}

h3 {
	font-size: 123.1%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#masthead #branding h3 {
	font-style: italic;
	font-size: 125%;
}

#primaryContent h2 {
	font-size: 159%;
}

#page #content #primaryContent h2 {
	text-align: center;
	margin: 0;
}

#secondaryContent h2 {
	font-size: 144%;
}

#site {

}

#rss {

}

#aside {

}

#commentheading {

}

/* =Links
-----------------------------------------------------------------------------*/

a:link {
	color: #41670F;
}

a:visited {
	color: #41670F;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #A37941;
}

a:active {
	color: #41670F;
}

ul#nav li a:link, ul#nav li a:visited {
	display: block;
	width: 200px;
	padding-bottom: 5px;
	color: #666;
	text-decoration: none;
	text-indent: 20px;
}

ul#nav li a:hover {
	color: #000;
}

#branding a {
	border: none;
}

ul#tidbits a {
	text-decoration: none;
}

/* =Masthead
-----------------------------------------------------------------------------*/

#branding {
}

/* =Main Nav
-----------------------------------------------------------------------------*/

/* =Primary Content
-----------------------------------------------------------------------------*/

#post-nav {
	margin: 10px 5px 40px 5px;
}

.cal {
	height: 76px;
	width: 70px;
	float: left;
	margin: 0  12px 7px 0;
	text-align: center;
	border: 1px solid #A37941;
}

.calyear {
	background: #A37941;
	color: #fff;
	padding: 0 14px;
}

.calday {
	font-size: 138.5%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #A37941;
}

.calmonth {
	font-size: 77%;
	margin: 0;
	border-top: 1px solid #A37941;
	color: #A37941;
	width: 100%;
}

.entry {
	font-family: Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.draft {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
	padding: 5px;
}

.entry ul {
	list-style-type: square;
	padding-left: 80px;
}

.entry li {
	padding-bottom: 4px;
}

.entryMeta {
	margin: 40px 5px 45px 5px;
	font-size: 92%;
}

.commentCount {
	float: right;
}

#pagenav {
	text-align: center;
	border: 1px solid #ccc;
	padding: 4px;
	background: #F5F5F5;
	margin-top: 10px;
}

#pagenav a {
	text-decoration: none;
	padding: 2px;
}

#pagenav a:hover {
	background: #545454;
	padding: 2px;
	color: #fff;
	text-decoration: none;
}

#pagenav a.current-page {
	border: 1px solid #545454;
	color: #545454;
	padding: 2px;
}

#content img {
        max-width: 100%;
}


/* =Secondary Content
-----------------------------------------------------------------------------*/

ul#nav {
	list-style-type: none;
}

ul#nav li {
	margin-bottom: 7px;
}

ul#asides {
	list-style-type: none;
	margin-left: 5px;
}

ul#moreposts {
	list-style-type: none;
	margin-left: 5px;
}

ul#moreposts li {
	padding-bottom: 5px;
}

ul#recentcomments {
	list-style-type: none;
	margin-left: 5px;
}

ul#recentcomments li {
	margin-bottom: 8px;
	list-style-type: none;
}

.block-type-twitter ul li {
	list-style-type: none;
}

.block-type-twitter ul li img {
	float: left;
	padding-right: 6px;
	margin: 3px;
}

/* =Footer
-----------------------------------------------------------------------------*/

#footer p {
	text-align: center;
}

/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */

fieldset {
	border: 1px solid transparent;
}

/* =Tables
-----------------------------------------------------------------------------*/

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	text-align: left;
	font-weight: normal;
}

/*Comments-----------------------------------------------------------------------------*/

#comments {
	padding-top: 20px;
}

#pings {
	margin: 15px 0 25px 0;
}

.ping-meta {
	background: #ddd;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 15px;
}

ul#pings-list {
	list-style-type: none;
}

ul#commentlist {
	list-style-type: none;
}

.comment {
	margin-bottom: 15px;
}

.comment-content {
	border: 1px solid #ccc;
	padding: 4px;
	background: #F5F5F5;
}

.comment-unapproved .comment-content {
	background: #ffc;
}

.comment-meta {
	background: #ddd;
	border: 1px solid #ccc;
	padding: 4px;
}

/* Comment Form - heavily leaned on code from Andy Budd's book CSS Mastery, re-used with permission from author */

/* fieldset styling */

#comment_form {
	padding-top: 25px;
}

fieldset {
	margin: 1em 0;


/*  space out the fieldsets a little*/
	padding: 1em;
	border: 1px solid #ccc;
	background-color: #F5F5F5
}

/* legend styling */

legend {
	font-weight: bold;
}

form div {
	position: relative;
	width: 100%;
	margin-bottom: 20px; /* not sure if this is really the place to do this. */
}

/* style for  labels */

label {
	float: left;
	width: 10em;
}

input[type="text"] {
	width: 200px;
}

input[type="text"], textarea {
	border-top: 2px solid #999;
	border-left: 2px solid #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

input#submit {
	width: auto;
}

label .required {
	position: absolute;
	margin-left: 11em;
	left: 200px;
	right: 0;
	font-size: small;
	font-style: italic;
	color: #760000;
	padding-left: 35px;
}

/* style form elements on focus */

input:focus, textarea:focus {
	background: #ffc;
}

textarea {
	width: 350px;
	height: 200px;
}

/*Search Form*/

#searchsubmit {
	margin: 5px auto;
	width: 160px;
}

#s {
	height: 1.6em;
	padding: 3px;
	font-size: 100%;
}
