/*
 * Name: Habari Admin Stylesheet
 * Author: Habari Community
 * License: Apache License 2.0
 */


/* The Basics */

html { /* Force Vertical Scrollbar to avoid popping */
	/* IE */
	overflow-y: scroll;
	/* Moz */
	height: 100%;
	margin-bottom: 0.1em;
}

body {
	background-color: #f0f0f0;
	color: #000;
	margin: 40px 0 0;
	}

a, a:visited, a:hover {
	color: #3EA5C8;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

body, textarea, #footer {
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	}

input, textarea {
	color: #333;
	}

textarea {
	width: 100%;
	line-height: 1.3em;
	}

#page {
	margin-top: 60px;
	}



/* The OLD AND BUSTED Menu */

#oldmenu {
	position: fixed;
	top: 0;
	height: 32px;
	padding: 0 0px;
	width: 100%;
	font-size: 1.2em;
	background: #242424 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAIAAAC3eAIWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpikpOTY2JgYABjRkZGdAwQYAAMYgB6RRurTwAAAABJRU5ErkJggg==) repeat-x top; /* Top dropshadow */
	z-index: 100;
	}

#oldmenu li {
	display: inline;
	}

#oldmenu li#site-name {
	float: right;
	}

#oldmenu li#site-name a {
	padding: 0 15px 0 40px;
	border-left: none !important;
	border-right: 1px solid #131313 !important;
	}

#oldmenu li a {
	color: white;
	line-height: 32px;
	border-left: 1px solid #131313;
	text-decoration:none;
	display: block;
	}

#oldmenu li.menu-item:hover a, #oldmenu li#site-name a:hover {
	background-color: #424242;
	}

#oldmenu .menu-item {
	float: left;
	}

#oldmenu .menu-item a {
	width: 105px;
	padding: 0 0 0 15px;
	/* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpinD59+mcGBgYeBtzgCxOQ6GPAD/pgit7hUPAOpugjHtNA4h+ZoJyJQPwCTcELqDgDTNEXIO5AU9QBFYcrAoHpQPwUyn4K5TOgK/oFxE1A/AhK/4JJsKBZsQCqaB+yIECAAQB0mBnahYs+3AAAAABJRU5ErkJggg==) 100px center no-repeat; /* png is dropdown arrow */
	background: url(../images/bar-back-drop.png) 100px center no-repeat;
	}

#oldmenu li.menu-item ul {
	position: absolute;
	top: -10000px;
	background: #424242;
	min-width: 120px;
	max-width: 250px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #333;
	margin: 10px 0 0 0;
	}

#oldmenu li.menu-item:hover ul, #oldmenu li.menu-item.iehover ul {
	top: 22px;
	}

#oldmenu li.menu-item .menu-list a {
	width: auto;
	font-size: .8em;
	line-height: 1.6em;
	color: #929292;
	padding: 3px 20px;
	background: none;
	}

#oldmenu li.menu-item:hover .menu-list a:hover, #oldmenu li.menu-item.iehover .menu-list a:hover {
	color: white;
	background: #333;
	}

/* Page Splitter Tabs */

ul.tabs {
	position: relative;
	text-align: center;
	min-width: 130px;
	height: 20px;
	z-index: 10;
	}

ul.tabs li {
	display: -moz-inline-box; /* for FF & Mozilla */
	display: inline-block;
	font-size: 11px;
	text-align: center;
	background: url('../images/tabsbg.png') center top;
	color: #333;
	cursor: pointer;
	border-right: 1px solid #bdbdbd;
	}

* html .tabs li { display:inline; }  /* for IE 6 */
* + html .tabs li { display:inline; }  /* for IE 7 */

ul.tabs li a {
	float: left;
	width: 110px;
	line-height: 20px;
	display: block;
	color: #333;
	}

ul.tabs li a:hover {
	text-decoration: none;
	}

ul.tabs li.first.last a {
	width: 150px;
	}

ul.tabs li.first {
	background-position: left top;
	}

ul.tabs li.last {
	background-position: right top;
	border: none;
	}

ul.tabs li.ui-tabs-selected {
	background-position: -10px bottom;
	}

ul.tabs li.ui-tabs-selected.first {
	background-position: left bottom;
	}

ul.tabs li.ui-tabs-selected.last {
	background-position: right bottom;
	}



/* Page Splitter  */

.container.pagesplitter {
	width: 100% !important;
	}

.splitterinside {
	padding: 25px 0 20px;
	}

.ui-tabs-hide {
	display: none;
	}

.splitter {
	position: relative;
	top: -27px;
	color: white;
	background: #333333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVCAYAAACHUoQEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNpiYGBgSGICEowg4i+I+AMnfoGI33ACzP0FxAxmIMIARGiBCBUQIQciJEGECIjgAxFcIIINRDADBBgAlsIJb8O3yoQAAAAASUVORK5CYII=) top repeat-x; /* Drop shadow */
	}

.splitter select, .splitter input[type=text] {
	width: 150px;
	margin: 0;
	}

.splitter p, .splitter ul, .splitter label {
	margin: 0;
	}

.splitter .container {
	padding: 10px 0;
	}

.splitter hr {
	height: 1px;
	background: #424242;
	border-top: 1px solid #2c2c2c;
	margin: 0 auto;
	width: 770px;
	}

.styledformelement {
	border: 1px solid #bbb;
	}



/* publish.php */

.publish .container {
	width: 770px;
	}

.publish #title, .publish #content, .publish #tags {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	padding: 3px 5px;
	width: 758px; /* 100% will break the vertical lines */
	}

.publish #title.islabeled, .publish #content.islabeled, .publish #tags.islabeled {
	text-transform: lowercase;
	color: #aeaeae;
	}

.publish #title {
	font-size: 1.7em;
	}

.publish #title:focus {
	color: #222;
	}

.publish #content {
	padding: 5px;
	height: 330px;
	font-size: 14px;
	}

.publish #tags {
	font-size: 1.1em;
	}

.grip {
	height: 10px;
	cursor: row-resize;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAADCAYAAAAuu3lbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACRJREFUeNpivHLlyn+GUYABGP//Hw0XbIDl6tWroyGDBQAEGADRQAn91uPxnQAAAABJRU5ErkJggg==) center center no-repeat; /* Double line 'grip' */
	}

#formbuttons input {
	width: 110px;
	}

#formbuttons .publish {
	font-weight: bold;
	}

#formbuttons p.last {
	float: right;
	}


#tags_settings ul
{
	text-align: left;
	margin-right: 50px;
	margin-left: 10px;
}

#tags_settings li
{
	font-family: "Arial", san-serif;
	font-size: 0.8em;
	display: inline;
	line-height: 2.0em;
	padding: 3px;
	color: #ccc;
	cursor: pointer;
}

#tags_settings li.clicked
{
	background: #000;
}


/*=== @a ===*/

.admin-avatar {padding: 2px; border: 1px solid #282828;}

/*=== @b ===*/
.buttonform  { display: inline; }

/*=== @c ===*/
#content-area { text-align: left; min-width: 700px; width: 90%; margin: 0 auto;}
#content-area h1 { padding-top: inherit; margin-bottom: 0.0em; font-size: 1.3em;}
#content-published h3, #content-draft h3{margin: 10px 0 10px 0; border-bottom: 1px solid #282828; padding: 0 0 5px 0;}
.comment {margin:2px 0;padding:5px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.comment:first-child {border-top:0;}
.comment_header {border-bottom:1px solid #eee;padding-bottom:5px;}
.comment_content {margin:10px 0;}
.comment_footer {border-top:1px solid #eee;padding-top:5px;}


.center {
	text-align: center;
}



/* BluePrint Overrides */

#plugin_options, #theme_options {
	background: #333333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVCAYAAACHUoQEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNpiYGBgSGICEowg4i+I+AMnfoGI33ACzP0FxAxmIMIARGiBCBUQIQciJEGECIjgAxFcIIINRDADBBgAlsIJb8O3yoQAAAAASUVORK5CYII=) top repeat-x; /* Drop shadow */
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	color: white;
	margin-top: -1.4em;
	padding: 0px 0px 20px;
}

#plugin_options h2, #theme_options h2 {
	color: white;
}

.formcontrol {
	line-height: 2.2em;
}

.formcontrol.text input {
	margin: 0px 20px;
}

.formcontrol.select select {
	margin: 0px 20px;
	width: 160px;
}


h3, h5 {
	border-bottom: 1px solid #676767;
	padding-bottom: 5px;
}

.container {
	position: static;
}

label {
	margin-left: 5px;
	font-weight: normal;
}

.screenshot {
	float:left;
	width:260px;
	padding-bottom: 10px;
	text-align:center;
}

/*  Table Stylings */

td, th {
	padding-left: 4px;
}

.odd {
	background: #e3e3e3;
	border-top: 1px solid #ddd;
	; border-bottom: 1px solid #ddd;
}


.comment_header strong {
	padding-right: 10px;
}

ul {
	list-style-type: none;
}

#searchform {
	background-color:#f6f6f6;
	padding:9px 3px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#searchform p {
	padding:0;
	margin:0;
}



/* Footer */

#footer {
	margin-top: 50px;
	font-size: 1.1em;
	text-align: center;
	color: #ddd;
}

#footer a {
	padding: 5px;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	margin: 15px;
}

/* Media */

.media {
	display: inline;
	float: left;
	height: 180px;
	font-size: 0.9em;
}

.media img {
	margin:0px 0px -3px;
	height:100px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	cursor: pointer;
}

.media.first img {
	border-left: 1px solid white;
}

.media .foroutput {
	display: none;
}

.mediasplitter .splitterinside {
	padding: 13px 0px 0px;
	color: #848484;
}

.mediatitle {
	padding: 3px;
	height: 30px;
	background: #333333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAA8CAMAAAB/yBzfAAAAA3NCSVQICAjb4U/gAAAAb1BMVEU7Ozs6Ojo5OTk1NTU0NDQyNDEzMzMyMzUyMjIxMzIxMTEwMDAvLy8uLi4tLS0sLCwrKysqKiopKSkoKCgnJycmJiYlJSUkJCQjIyMiIiIhISEgICAfHx8eHh4dHR0cHBwbGxsaGhoZGRkYGBgXFxeooJonAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3NPsx9OAAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzEyLzA4IRiF3QAAAP5JREFUeJzt00kOgkAAAMFRE2MgCi64oOLG/98og7icPE760PWFToeLkrtGt949egzatj2FnZLbdw5RXdfHznnQNM0qLJXaKlq/bbdDol4e5kpt8SMG6qpselVVTcJMqWVR/hKjlGX5WWccpkrtWyXL4jFFUZRvI4Ok9y9IMEh6BoExCIxBYAwCYxAYg8AYBMYgMAaBMQiMQWAMAmMQGIPAGATGIDAGgTEIjEFgDAJjEBiDwBgExiAwBoExCIxBYAwCYxAYg8AYBMYgMAaBMQiMQWAMAmMQGIPAGATGIDAGgTEIjEFgDAJjEBiDwBgExiAwBoExCIxBYAwC8zfIE1yTu6lWZRyRAAAAAElFTkSuQmCC) top right; /* Drop shadow */
}

.mediastats {
	padding: 3px;
	height: 42px;
	background: #333333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAA8CAMAAAB/yBzfAAAAA3NCSVQICAjb4U/gAAAAb1BMVEU7Ozs6Ojo5OTk1NTU0NDQyNDEzMzMyMzUyMjIxMzIxMTEwMDAvLy8uLi4tLS0sLCwrKysqKiopKSkoKCgnJycmJiYlJSUkJCQjIyMiIiIhISEgICAfHx8eHh4dHR0cHBwbGxsaGhoZGRkYGBgXFxeooJonAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3NPsx9OAAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzEyLzA4IRiF3QAAAP5JREFUeJzt00kOgkAAAMFRE2MgCi64oOLG/98og7icPE760PWFToeLkrtGt949egzatj2FnZLbdw5RXdfHznnQNM0qLJXaKlq/bbdDol4e5kpt8SMG6qpselVVTcJMqWVR/hKjlGX5WWccpkrtWyXL4jFFUZRvI4Ok9y9IMEh6BoExCIxBYAwCYxAYg8AYBMYgMAaBMQiMQWAMAmMQGIPAGATGIDAGgTEIjEFgDAJjEBiDwBgExiAwBoExCIxBYAwCYxAYg8AYBMYgMAaBMQiMQWAMAmMQGIPAGATGIDAGgTEIjEFgDAJjEBiDwBgExiAwBoExCIxBYAwC8zfIE1yTu6lWZRyRAAAAAElFTkSuQmCC) top right; /* Drop shadow */
}

.splitter.mediasplitter {
	background: #333333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAuCAIAAAB8sQSzAAAAW0lEQVR4nO3VMRIAIQhD0WUF9BDW3v+CDl7hFymhfpMiRbBzzgfOIwK5zJS6OSdyay1pHnW0F+rcHbkxhtSZmdL9BLVr107ivKqk7t6rdLb3Rnl0x+n/oHsK3QNrcA5DpDiz3gAAAABJRU5ErkJggg==) top repeat-x; /* Drop shadow */

}

.media_controls {
	height: 28px;
	text-align: center;
}

.media_controls a {
	color: white;
	text-decoration: none;
}

.media_controls li {
	list-style: none;
}

.media_controls li {
	margin-right: 15px;
	display: inline;
}

.media_browser td {
	padding: 0px;
	border: 0px;
}

.mediadir {
	height:180px;
	float:left;
}

.mediadir a {
	color:#a6a6a6;
	padding: 0px 20px 0px 5px;
	background: transparent url(../images/media_arrow.png) scroll no-repeat center right;
	outline: none;
	display: block;
	margin-right: 1px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
}

.mediadir a.active {
	background-color: #5B5B5B;
	background: #5B5B5B url(../images/media_arrow_active.png) scroll no-repeat center right;
	color: #e8e8e8;
}

.media_dirlevel {
	float: left;
	height: 197px;
	overflow-y: auto;
}

.media_panel {
	height: 197px;
	display: none;
}
