/*- COLOR PICKER */
.formcontrol.color .color, .formcontrol.color.loaded .text {
	display:none;
}

.formcontrol.color.loaded .color {
	display:block;
	position:relative;
}

.formcontrol.color .colorbox {
	background:transparent url(<?php echo Site::get_url('habari', TRUE); ?>3rdparty/colorpicker/images/select2.png) repeat scroll center center;
	float:left;
	height:28px;
	width:28px;
}

.formcontrol.color .color .colorpicker {
	position:absolute;
	top:30px;
	left:-5px;
}

/*- RANGE */
.formcontrol.slider .slider {
	display:none;
}

.formcontrol.slider.loaded .slider {
	display:block;
	position:relative;
	margin:4px 0;
	width:48%;
}

.formcontrol.slider.loaded .text {
	width:20%;
	margin-left:20px;
}

.formcontrol.slider.loaded .text input {
	border:none;
	font-weight:bold;
	color:#333333;
}